{
    %extends 'templates/list.html'%
}
{
    %block content%
}

<body>
    <table class="table table-dark" id="Product">
        <thead class="thead-dark">
            
        </thead>
        <tr>
            {% for header in headings}
            <th>{{header}}</th>
            {%endfor%}
        </tr>
        </table>
                {% for row in data}
                <tr>
                    <td>{{ row.id }}</td>
                    <td>{{ row.barang }}</td>
                    <td>{{ row.harga }}</td>
                    <td>{{ row.stocks }}</td>
                    <td>{{ row.tnglbarangmasuk }}</td>
                    <td>{{ row.tnglbarangkeluar }}</td>
                    <td>{{ row.jmlhbarangmasuk }}</td>
                    <td>{{ row.jmlhbarangmasuk }}</td>
                    
                    <td>
                        <a href="products/update?id={{ row.id }}"><img src="{{url_for('static', filename='img/edit.png')}}" width="60" height="60"/></a></td>
                    <td><a href="/products/delete?id={{ row.id }}"><img src="{{url_for('static', filename='img/delete4.png')}}" width="40" height="40"/></a></td>
                    </td>

                </tr>
                    {% endfor %}
    </table><br>
    input type="button" onclick="generate()" value="Export To PDF" />  

    <script type="text/javascript">  
        function generate() {  
            var doc = new jsPDF('p', 'pt', 'letter');  
            var htmlstring = '';  
            var tempVarToCheckPageHeight = 0;  
            var pageHeight = 0;  
            pageHeight = doc.internal.pageSize.height;  
            specialElementHandlers = {  
                // element with id of "bypass" - jQuery style selector  
                '#bypassme': function(element, renderer) {  
                    // true = "handled elsewhere, bypass text extraction"  
                    return true  
                }  
            };  
            margins = {  
                top: 150,  
                bottom: 60,  
                left: 40,  
                right: 40,  
                width: 600  
            };  
            var y = 1000;  
            doc.setLineWidth(2);  
            doc.text(2000, y = y + 30, "Products");  
            doc.autoTable({  
                html: '#Products',  
                startY: 70,  
                theme: 'grid',  
                
                styles: {  
                    minCellHeight: 40  
                }  
            })  
            doc.save('Products.pdf');  
        }  
        </script>   
{% endblock %}

</body>
